<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login" size="small" color="dark" text="" icon="chevron-back-outline" ></ion-back-button>
    </ion-buttons>
    <ion-title >Verify your email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item style="margin-top:32px;" lines="none"><ion-text><span>Please enter the 4 digit code sent to <strong>test@gmail.com</strong></span></ion-text>
  </ion-item>

  <ion-grid class="ion-margin-top">
    <ion-row>
      <ion-col size="3">
        <ion-item lines="none">
          <ion-input type="number"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="3" lines="none">
        <ion-item>
          <ion-input type="number"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="3" lines="none">
        <ion-item>
          <ion-input type="number"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="3" lines="none">
        <ion-item>
          <ion-input type="number"></ion-input>
        </ion-item>
      </ion-col>

    </ion-row>
  </ion-grid>

<ion-button class="custom-btn" expand="block">Confirm</ion-button>
</ion-content>
