<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" >
    <ion-buttons slot="start">
      <ion-back-button size="small" color="dark" text="" icon="chevron-back-outline" defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title >Forget Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-margin-top ion-margin-bottom ion-text-center" lines="none">
    <ion-img  src="assets/icons/email.v1.png"></ion-img>
  </div>

  <ion-list style="margin-top: 20px;" class="ion-margin-top">
      <span style="padding-left:13px;font-size:large">Enter your <strong>Email</strong>, to send you code</span>

    <ion-item style="padding-top:12px" class="ion-margin-top" lines="none">
      <ion-input placeholder="Email"></ion-input>
    </ion-item>

   
  </ion-list>

  <ion-grid>
  <ion-row style="margin-top: 24px;" class="ion-margin-top">
<ion-col class="ion-no-padding" size="12" >
<ion-button class="custom-btn" expand="block">Register</ion-button>
</ion-col>
 </ion-row>
  </ion-grid>
</ion-content>
