div.ion-margin-top{
    margin-top:24px;
}


ion-content{
    div{
        ion-img{
            height: 202px;
        }
    }
}

ion-content{
    ion-list{
            ion-item{
              padding-left: 13px;
                padding-right: 13px;
                    --padding-start:14px;
                    --background: #F1F1F1;
                    border: 1px solid transparent;
                    --border-radius: 12px;
                
            }
        } 
}

.custom-btn{
    padding-left:8px;
    padding-right:8px;
    height: 50px;
}

