<ion-header class="ion-no-border">
  <ion-toolbar color="primary" mode="ios" >
    <ion-buttons slot="start">
      <ion-button (click)="closePassword()" size="small"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-margin-top">
    <ion-item >
      <ion-input [(ngModel)]="current" name="current" [type]="currentType" placeholder="Current Password"></ion-input>
      <ion-icon (click)="switchEyeCurrent()" [name]="nameCurrent" slot="end"></ion-icon>
    </ion-item>  
    <ion-item class="ion-margin-top">
      <ion-input [(ngModel)]="password" name="password" [type]="passwordType" placeholder="New Password"></ion-input>
      <ion-icon (click)="switchEyepassword()" [name]="namePassword" slot="end"></ion-icon>
    </ion-item>  
    <ion-item class="ion-margin-top" >
      <ion-input (keyup.enter)="submit()" [(ngModel)]="repeatPassword" name="repeatPassword" [type]="repeatPasswordType" placeholder="Confirm New Password"></ion-input>
      <ion-icon (click)="switchEyeRpassword()" [name]="nameRPassword" slot="end"></ion-icon>
    </ion-item> 

  </ion-list>
</ion-content>


<ion-footer>
  <ion-button (click)="submit()" expand="block" color="warning">Confirm</ion-button>
</ion-footer>