<ion-header class="ion-no-border">
  <ion-toolbar color="primary" mode="ios" >
    <ion-buttons slot="start">
      <ion-button (click)="closeEmail()" size="small"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title >Change Email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-margin-top">
    <ion-item >
      <ion-input (keyup.enter)="submit()" (ionBlur)="leavephone()" [(ngModel)]="eml" name="eml" [value]="email" (ionChange)="checkEmail()" type="email"></ion-input>
      <ion-icon [name]="checkName" slot="end"></ion-icon>
    </ion-item>  
  </ion-list>
</ion-content>


<ion-footer [hidden]='btnhide'>
  <ion-button (click)="submit()" expand="block" color="warning">Verify</ion-button>
</ion-footer>